<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    {% assign curr_date = site.time | date: "%Y-%m-%d" %}
    {% capture post_date %}{{post.date | date: '%Y-%m-%d'}}{% endcapture %}

    <ul>
      <h1>{{ page.url }}</h1>
      {% for post in site.categories.event %}  
        {% if post_date > curr_date and page.url == "/upcomingevents.html" %}
            <li>{{ post.date }}|{{ post.title }}: {{ post.abstract }}-{{ post.category }}-{{ post.show }}</li>
        {% endif %}
        {% if postpost_date < nowunix and page.url == "/pastevents.html" %}
            <li>{{ post.date }}|{{ post.title }}: {{ post.abstract }}-{{ post.category }}-{{ post.show }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </body>
</html>
